@import '../../../styles/variables.scss';

.packageTile {
  position: relative;
  height: 700px;
  max-height: 700px;
  width: 75%;
  border-radius: 20px;
  border: 5px solid $blueBgColor;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;

  @include media('<=mobile') {
    width: 90%;
    height: 700px;
  }

  h2 {
    margin: 20px 0;

    @include media('<=mobile') {
      margin-bottom: 10px;
    }

    color: $blueBgColor;
  }

  div {
    text-align: left;
    margin: 0 20px;

    p {
      margin: 0;
      margin-bottom: 5px;
    }
  }

  .price {
    position: absolute;
    bottom: 35px;
    font-size: 28px;
    font-weight: 500;

    @include media('<=mobile') {
      bottom: 20px;
    }
  }
}

.activePackageTile {
  color: white;
  background-color: $blueBgColor;
}
