@import '../../../styles/variables.scss';

.btn {
  background: transparent;
  filter: drop-shadow(-2px 2px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  font-size: 22px;
  padding: 5px 20px;
  font-weight: 700;
}

.fullGreen {
  background-color: $mainColor;
  color: white;
  border: $mainColor 2px solid;
}

.fullBlue {
  background-color: $blueBgColor;
  color: white;
  border: $blueBgColor 2px solid;
}

.outlinedGreen {
  border: $mainColor 2px solid;
  color: $mainColor;
  background-color: white;
}

.outlinedBlue {
  border: $blueBgColor 2px solid;
  color: $blueBgColor;
  background-color: white;
}

.outlined {
  color: white;
  border: white 2px solid;
}
