@import '../../styles/variables.scss';

.landingPage {
  height: calc(100vh - 80px);
  width: 100vw;
  background-image: url('./Background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  .title {
    color: white;
    margin-bottom: 70px;
  }

  .titleDesc {
    color: white;
  }
}

.iconsContainer {
  display: grid;
  grid-template: 50% 50% / repeat(3, 1fr);
  width: 100%;
  margin-top: 105px;
  gap: 70px 0;
  margin-bottom: 105px;

  @include media('<tablet-landscape') {
    grid-template: repeat(3, 1fr) / 50% 50%;
  }

  @include media('<mobile') {
    grid-template: repeat(6, 1fr) / 100%;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .iconText {
    margin-top: 35px;
    text-align: center;

    a {
      color: $mainColor;
      text-decoration: underline;

      &:hover {
        color: $blueBgColor;
        cursor: pointer;
        transition: color 0.2s linear;
      }
    }
  }
}

.priceTitle {
  color: $mainColor;
  margin-bottom: 35px;
}

.pricesContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 105px;

  @include media('<tablet-portrait') {
    flex-direction: column;
  }

  .prices {
    width: fit-content;
    display: grid;
    grid-template: repeat(4, minmax(0, 1fr)) / repeat(3, minmax(0, 1fr));
    gap: 0 40px;

    @include media('<tablet-landscape') {
      gap: 0 20px;
      font-size: 20px;
    }

    @include media('<tablet-portrait') {
      margin-bottom: 50px;
    }

    @include media('<mobile') {
      gap: 0 10px;
    }

    h3 {
      width: fit-content;

      @include media('>=tablet-landscape') {
        font-size: 18px;
      }

      @include media('<tablet-portrait') {
        width: 100%;
        text-align: center;
      }

      @include media('<mobile') {
        font-size: 16px;
      }
    }
  }

  .priceBtn {
    background: transparent;
    height: 70px;
    filter: none;

    z-index: 1;
    position: relative;
    transition: all 400ms;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      border-radius: 5px;
      background-color: $mainColor;
      z-index: -1;
      -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
      box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
      transition: all 250ms;
    }

    &:hover {
      color: white;
    }

    &:hover::before {
      width: 100%;
    }

    @include media('<bigger-tablet-landscape') {
      width: 440px !important;
    }

    @include media('<tablet-landscape') {
      width: 300px !important;
      font-size: 16px !important;
    }

    @include media('<extra-mobile') {
      width: 280px !important;
      font-size: 14px !important;
    }

    &:hover {
    }
  }
}

.galleryTitle {
  width: 100%;
  text-align: center;
}

.gallery {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
