@import '../../styles/variables.scss';

.landingPage {
  height: calc(100vh - 80px);
  width: 100vw;
  background-image: url('./Background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  .title {
    color: white;
    margin-bottom: 70px;
  }

  .titleDesc {
    color: white;
  }
}

.iconsContainer {
  display: grid;
  grid-template: 50% 50% / repeat(3, 1fr);
  width: 100%;
  margin-top: 105px;
  gap: 70px 0;
  margin-bottom: 105px;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .iconText {
    margin-top: 35px;
    text-align: center;

    a {
      color: $mainColor;
      text-decoration: underline;

      &:hover {
        color: $blueBgColor;
        cursor: pointer;
        transition: color 0.2s linear;
      }
    }
  }
}

.priceTitle {
  color: $mainColor;
  margin-bottom: 35px;
}

.pricesContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 105px;

  .prices {
    width: fit-content;
    display: grid;
    grid-template: repeat(4, minmax(0, 1fr)) / repeat(3, minmax(0, 1fr));
    gap: 0 40px;

    h3 {
      width: fit-content;

      @include media('>=tablet-landscape') {
        font-size: 18px;
      }
    }
  }

  .priceBtn {
    background: transparent;
    height: 70px;
    filter: none;
  }
}

.galleryTitle {
  width: 100%;
  text-align: center;
}

.gallery {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
