@import '../../../../styles/variables.scss';

.landingPage {
  height: calc(40vh - 80px);
  width: 100vw;
  background-image: url('./LandingPicture.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  .landingTitle {
    width: 100%;
    text-align: center;
    color: white;
  }
}

.title {
  width: 100%;
  text-align: center;
  color: $mainColor;
  margin: 70px 0;
}

.infoContainer {
  display: flex;
  justify-content: flex-start;

  .infoList {
    display: flex;
    width: 600px;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 20px;
    align-items: center;

    h2 {
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0;
    }

    .info {
      padding: 5px 10px;
      width: auto;
      background-color: $mainColor;
      margin-left: 20px;
      border-radius: 5px;
      filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
      color: white;
      margin-bottom: 0;
    }
  }
}

.gallery {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

  h2 {
    width: 100%;
    text-align: center;
    margin: 35px 0;
  }
}

.calendarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  margin: 0 auto 50px auto;

  @include media('<tablet-portrait') {
    flex-direction: column;
  }

  p {
    margin: 0;
    margin-right: 35px;

    @include media('<tablet-portrait') {
      margin-bottom: 20px;
    }
  }

  input {
    width: 400px;

    @include media('<extra-mobile') {
      width: 310px;
    }
  }
}

.choosingHours {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainersContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .formContainer {
    margin-top: 35px;
    width: 100%;
    max-width: 700px;

    h3 {
      padding: 35px 0;
      width: 100%;
      text-align: center;
    }

    .input {
      margin-bottom: 35px;
    }
  }

  .dateInput {
    margin-bottom: 35px;
    max-width: 400px;

    @include media('<tablet-portrait') {
      width: 100px;
    }
  }

  .btns {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 15px;

    .cancelBtn {
      background-color: rgb(207, 8, 8);
      border: 0;
      transition: all linear 0.2s;
      border: rgb(207, 8, 8) 3px solid;

      &:hover {
        color: rgb(207, 8, 8);
        border: rgb(207, 8, 8) 3px solid;
        background-color: white;
      }
    }

    .resBtn {
      transition: all linear 0.2s;
      border: $mainColor 3px solid;

      &:hover {
        color: $mainColor;
        border: $mainColor 3px solid;
        background-color: white;
      }
    }
  }
}

.choosingHours {
  font-weight: 500;
  font-size: 18px;
  color: $textColor;

  .text {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
  }
}
