@import '../../../../styles/variables.scss';

.title {
  width: 100%;
  text-align: center;
  color: $mainColor;
  margin: 70px 0;
}

.listTitle {
  width: 100%;
  text-align: center;
  margin-bottom: 35px;
}

.infoContainer {
  display: flex;
  justify-content: center;

  .infoList {
    display: flex;
    width: 600px;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: flex-starts;

    .info {
      width: auto;
      font-size: 19px;
      margin-bottom: 10px;
    }
  }
}

.gallery {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

  h2 {
    width: 100%;
    text-align: center;
    margin: 35px 0;
  }
}

.calendarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;

  p {
    margin: 0;
    margin-right: 35px;
  }
}

.choosingHours {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainersContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .formContainer {
    margin-top: 35px;
    width: 100%;
    max-width: 700px;

    h3 {
      padding: 35px 0;
      width: 100%;
      text-align: center;
    }

    .input {
      margin-bottom: 35px;
    }
  }

  .btns {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 15px;

    .cancelBtn {
      background-color: rgb(207, 8, 8);
      border: 0;
      transition: all linear 0.2s;
      border: rgb(207, 8, 8) 3px solid;

      &:hover {
        color: rgb(207, 8, 8);
        border: rgb(207, 8, 8) 3px solid;
        background-color: white;
      }
    }

    .resBtn {
      transition: all linear 0.2s;
      border: $mainColor 3px solid;

      &:hover {
        color: $mainColor;
        border: $mainColor 3px solid;
        background-color: white;
      }
    }
  }
}
