@import '../../../../styles/variables.scss';

.landingPage {
  height: calc(40vh - 80px);
  width: 100vw;
  background-image: url('./LandingPicture.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  .landingTitle {
    width: 100%;
    text-align: center;
    color: white;
  }
}

.title {
  width: 100%;
  text-align: center;
  color: $mainColor;
  margin: 70px 0;
}

.infoContainer {
  display: flex;
  justify-content: flex-start;

  .infoList {
    display: flex;
    width: 600px;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 20px;
    align-items: center;

    h2 {
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0;
    }

    .info {
      padding: 5px 10px;
      width: auto;
      background-color: $mainColor;
      margin-left: 20px;
      border-radius: 5px;
      filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
      color: white;
      margin-bottom: 0;
    }
  }
}

.gallery {
  width: 1005px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 70px;

  @include media('<=bigger-tablet-landscape') {
    width: 670px;
  }

  @include media('<=bigger-tablet-landscape') {
    width: 100%;
  }

  h2 {
    width: 100%;
    text-align: center;
    margin: 35px 0;
  }

  div {
    width: fit-content;
  }
}

.calendarContainer {
  width: 700px;
  display: flex;
  justify-content: space-between;

  @include media('<tablet-portrait') {
    width: auto;
    flex-direction: column;
    align-items: center;
  }

  p {
    margin: 0;

    @include media('<tablet-portrait') {
      margin-bottom: 20px;
    }
  }

  input {
    width: 400px;

    @include media('<extra-mobile') {
      width: 310px;
    }
  }
}

.choosingHours {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainersContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .formContainer {
    margin-top: 35px;
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;

    h3 {
      padding: 35px 0;
      width: 100%;
      text-align: center;
    }

    form {
      width: 100%;
    }
  }

  .dateInput {
    margin-bottom: 35px;
    max-width: 400px;

    @include media('<tablet-portrait') {
      width: 100px;
    }
  }

  .btns {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;

    @include media('<=extra-mobile') {
      width: 100%;
      flex-direction: column;
      gap: 20px;
      align-items: center;

      button {
        width: 90% !important;
      }
    }

    .cancelBtn {
      background-color: rgb(207, 8, 8);
      border: 0;
      transition: all linear 0.2s;
      border: rgb(207, 8, 8) 3px solid;

      &:hover {
        color: rgb(207, 8, 8);
        border: rgb(207, 8, 8) 3px solid;
        background-color: white;
      }
    }

    .resBtn {
      transition: all linear 0.2s;
      border: $mainColor 3px solid;

      &:hover {
        color: $mainColor;
        border: $mainColor 3px solid;
        background-color: white;
      }
    }
  }
}

.choosingHours {
  font-weight: 500;
  font-size: 18px;
  color: $textColor;

  .text {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
  }
}

.containerInput {
  width: 700px !important;

  @include media('<tablet-portrait') {
    width: 400px !important;
  }

  @include media('<extra-mobile') {
    width: 310px !important;
  }
}

.error {
  margin: 0 0 0 auto;
  margin-top: 10px;
  font-size: 16px;
  color: rgb(182, 16, 16);
  width: 400px;
  text-align: right;

  @include media('<=tablet-portrait') {
    margin: 0 auto;
  }
}

.sendSuccess {
  font-size: 20px;
  color: rgb(124, 123, 123) !important;
  text-align: center;
  width: 100%;
  display: block;
}

.sendError {
  font-size: 20px;
  color: rgb(182, 16, 16);
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 20px;
}

.inputContaineruniqe {
  margin-top: 35px;
}

.reservatedHoursContainer {
  width: 700px;
  margin: 0 auto;
  margin-top: 35px;

  div {
    display: flex;
    flex-wrap: wrap;

    p {
      width: fit-content;
      padding: 5px 15px;
      margin: 10px;
      background-color: $mainColor;
      border-radius: 4px;
      filter: drop-shadow(-2px 2px 4px rgba(0, 0, 0, 0.25));
    }
  }

  @include media('<tablet-portrait') {
    width: auto;
  }
}

.inputContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;

  input,
  textarea,
  select {
    width: 400px;
    height: 44px;
    border-radius: 5px;
    filter: drop-shadow(-2px 2px 4px rgba(0, 0, 0, 0.25));
    border: none;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;

    @include media('<=extra-mobile') {
      width: 310px;
    }
  }

  select {
    color: rgb(114, 114, 114);
    opacity: 1;
  }

  textarea {
    min-height: 150px;
  }

  .info {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
  }
}

.inputsContainer {
  .inputContainer {
    @include media('<=tablet-portrait') {
      justify-content: center;

      label {
        display: none;
      }
    }
  }
}

.containerInput {
  @include media('<=tablet-portrait') {
    margin: 0 auto;
  }
}
