@import '../../../styles/breakpoints.scss';
@import '../../../styles/variables.scss';
@import 'include-media';

.contacFormContainer {
  margin-top: 105px;
  width: 100%;

  .header {
    display: flex;
    justify-content: center;

    .title {
      max-width: 650px;
      text-align: center;
      margin-bottom: 105px;
      color: $mainColor;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    width: 100%;

    @include media('<=tablet-landscape') {
      flex-direction: column;
      align-items: center;
    }

    .contactInfoTiles {
      width: fit-content;
      margin-right: 140px;

      @include media('<=tablet-landscape') {
        margin: 0;
      }

      .contactTile {
        display: flex;
        margin-bottom: 70px;

        @include media('<=extra-mobile') {
          flex-direction: column;
          align-items: center;
        }

        svg {
          @include media('<=extra-mobile') {
            margin-bottom: 10px;
          }
        }

        .contactInfo {
          margin-left: 50px;
          display: flex;
          justify-content: center;
          flex-direction: column;

          @include media('<=extra-mobile') {
            margin: 0;
          }

          .text {
            margin-bottom: 15px;
            display: flex;
            flex-wrap: wrap;

            @include media('<=extra-mobile') {
              text-align: center;
              justify-content: center;
            }
          }
          .contact {
            color: $mainColor;

            @include media('<=extra-mobile') {
              text-align: center;
            }
          }
        }
      }
    }

    .formContact {
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;

      .submitBtnContainer {
        width: 400px;
        margin-top: 35px;

        @include media('<=mobile') {
          display: flex;
          justify-content: center;
          width: 250px;
        }

        .submitBtn {
          transition: all 0.2s linear;
          &:hover {
            cursor: pointer;
            color: $mainColor;
            background-color: white;
          }
        }
      }
    }
  }
}

.form {
  input,
  select,
  textarea {
    margin-top: 35px;
  }

  .contactInput {
    @include media('<=extra-mobile') {
      width: 250px;
    }
  }
}

.error {
  margin-top: 10px;
  font-size: 16px;
  color: rgb(182, 16, 16);
  margin-bottom: 0;
}

.sendSuccess {
  font-size: 20px;
  color: rgb(124, 123, 123);
  text-align: center;
  width: 100%;
}

.sendError {
  font-size: 20px;
  color: rgb(182, 16, 16);
  text-align: center;
  width: 100%;
}
