@import '../styles/variables.scss';

.landingPage {
  height: 100vh;
  width: 100vw;
  background-color: $menuColor;

  @include media('<bigger-tablet-landscape') {
    padding-bottom: 70px;
    height: auto;
  }

  @include media('<mobile') {
    padding-bottom: 0px;
  }

  .homePageContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

    .homePageImg {
      @include media('>=bigger-tablet-landscape') {
        width: 450px;
        height: 600px;
      }

      @include media('<bigger-tablet-landscape') {
        display: none;
      }
    }

    .infoContainer {
      width: calc(100% - 600px);
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @include media('<bigger-tablet-landscape') {
        width: 100%;
      }

      .titleAndTextContainer {
        .title {
          font-size: 28px;
          font-weight: 900;
          color: $mainColor;
          padding-top: 35px;
          margin-bottom: 35px;

          @include media('>=tablet-portrait', '<tablet-landscape') {
            font-size: 24px;
          }

          @include media('<mobile') {
            text-align: center;
          }
        }

        .text {
          font-size: 22px;
          font-weight: 900;
          color: $textColor;

          @include media('<tablet-landscape') {
            font-size: 20px;
          }

          @include media('<mobile') {
            text-align: center;
          }
        }
      }

      .icons {
        display: flex;
        justify-content: space-between;
        min-width: 450px;
        padding-bottom: 35px;
        margin-top: 35px;

        @include media('<bigger-tablet-landscape') {
          justify-content: space-around;
          min-width: 0;
        }

        @include media('<tablet-portrait') {
          justify-content: space-between;
        }

        @include media('<mobile') {
          flex-direction: column;
          align-items: center;
        }

        .icon {
          width: 300px;
          height: 225px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          background-color: white;
          border-radius: 10px;

          @include media('>=bigger-tablet-landscape', '<desktop') {
            width: 240px;
            height: 180px;
          }

          @include media('<tablet-portrait') {
            width: 200px;
            height: 150px;
          }

          @include media('<mobile') {
            width: 240px;
            height: 180px;
            margin-bottom: 50px;
            margin-top: 35px;
          }

          .landingPageBtn {
            @include media('>=bigger-tablet-landscape', '<desktop') {
              width: 240px !important;
              font-size: 20px;
              padding: 8px;
            }

            @include media('<tablet-portrait') {
              width: 200px !important;
              font-size: 18px;
              padding: 8px;
            }

            @include media('<mobile') {
              width: 240px !important;
              font-size: 20px;
              padding: 8px;
            }
          }

          svg {
            height: 150px;

            @include media('>=bigger-tablet-landscape', '<desktop') {
              width: 120px;
              height: 90px;
            }

            @include media('<tablet-portrait') {
              width: 100px;
              height: 75px;
            }

            @include media('<mobile') {
              width: 120px;
              height: 90px;
            }
          }
        }
      }
    }
  }
}

.secLandingPage {
  height: 100vh;
  width: 100vw;
  background-image: url('../src/assets/homepage/photos/img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include media('<mobile') {
    height: 100%;
    padding-bottom: 35px;
  }

  .text {
    padding-top: 370px;
    font-size: 28px;
    font-weight: 900;
    width: 500px;
    color: white;
    padding-bottom: 70px;

    @include media('<tablet-landscape') {
      padding-top: 300px;
    }

    @include media('<=mobile') {
      width: 100%;
      text-align: center;
    }
  }

  .trustTiles {
    max-width: 1000px;
    min-height: 175px;
    border-radius: 10px;
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: RGBA(121, 192, 95, 0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;

    @include media('<=tablet-landscape') {
      max-width: 500px;
    }

    @include media('<=mobile') {
      max-width: 300px;
      background-color: transparent;
    }

    svg {
      margin: 10px;

      @include media('<mobile') {
        margin: 20px;
      }
    }
  }
}

.beltLeftContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.beltRightContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.offerTileBelt {
  width: 500px;
  height: 5px;
  border-radius: 10px;
  background-color: $textColor;
  margin-top: 50px;

  @include media('>tablet-landscape') {
    display: none;
  }

  @include media('<tablet-portrait') {
    width: 400px;
  }

  @include media('<mobile') {
    width: 300px;
  }
}
