@import '../../styles/variables.scss';

.landingPage {
  height: calc(100vh - 80px);
  width: 100vw;
  background-image: url('./LandingPicture.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.accountsContainer {
  .title {
    color: white;
    max-width: 700px;
  }
}

.offersTitle {
  width: 100%;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 27px;
  color: $mainColor;
}
