@import '../../../styles/variables.scss';

.navbarSticky {
  position: sticky;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $turquoiseBgColor;
  border-bottom: 1px $mainColor solid;
  height: 80px;
  position: relative;

  .logo {
    width: auto;
    margin-left: 50px;

    &:hover {
      cursor: pointer;
    }
  }

  .navItemsContainer {
    width: auto;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;

    .navItems {
      width: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      justify-content: space-around;
    }

    .navIcons {
      width: auto;
      display: flex;
      justify-content: space-between;
      margin-left: 70px;
    }
  }
}

.iconMargin {
  margin-right: 10px;

  &:hover {
    cursor: pointer;
  }
}

.navItem {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-left: 35px;
}

// .offer {
//   position: absolute;
//   top: 80px;
// }
