@import '../../../styles/variables.scss';

.landingPage {
  height: auto;
  width: 100vw;
  background-color: $turquoiseBgColor;
  margin-top: 105px;
  padding-bottom: 105px;

  .title {
    grid-area: title;
    width: 100%;
    text-align: center;
    padding: 105px 0;

    @include media('<=tablet-landscape') {
      padding: 50px 0;
    }

    span {
      color: $blueBgColor;
    }
  }

  .googleContainer {
    display: grid;
    grid-template-columns: 70px calc(100% - 335px - 70px) 335px;
    grid-template-areas: 'quotesIcon opinions google';

    @include media('<=tablet-landscape') {
      grid-template-columns: 70px calc(100% - 70px);
      grid-template-areas:
        'google google'
        'quotesIcon opinions';

      padding-bottom: 105px;
    }

    @include media('<=mobile') {
      grid-gap: 15px;
    }
  }

  .quotesIcon {
    grid-area: quotesIcon;
  }

  .opinion {
    grid-area: opinions;
    margin: 0 70px 0 35px;
    // min-width: 600px;
    word-wrap: break-word;

    @include media('<=mobile') {
      margin: 0;
    }

    .description {
      margin-bottom: 35px;

      @include media('<=mobile') {
        text-align: center;
      }

      p {
        font-weight: 500;
      }
    }
  }

  .google {
    grid-area: google;
    @include media('<=tablet-landscape') {
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
    }

    @include media('<=mobile') {
      width: 95%;
    }
  }

  .collabs {
    grid-area: collabs;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid #79c05f;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 160px;

    .logosTitle {
      margin: 35px;

      span {
        color: $blueBgColor;
      }
    }

    .logos {
      margin: 0 100px 35px 100px;
      display: flex;
      justify-content: space-around;
      box-sizing: border-box;

      @include media('<=bigger-tablet-landscape') {
        flex-wrap: wrap;
      }

      img {
        margin: 10px;
      }
    }
  }
}

.wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;

  div {
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity 1s;
  }

  .hidden {
    opacity: 0;
  }
}

.opinionText {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;

  p {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow: hidden;
    text-overflow: ellipsis;

    @include media('<=mobile') {
      text-align: left;
      margin: 0 10px 10px 10px;
    }
  }

  .author {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    width: 100%;
    margin-top: 10px;

    p {
      display: flex;
      align-items: center;
    }

    @include media('<=mobile') {
      p {
        font-size: 16px;
      }
    }

    .iconMargin {
      margin-left: 10px;
    }
  }
}
