@import '../../../styles/variables.scss';

.landingPage {
  height: auto;
  width: 100vw;
  background-color: $turquoiseBgColor;
  margin-top: 105px;
  padding-bottom: 105px;

  .title {
    width: 100%;
    text-align: center;
    padding: 105px 0;

    span {
      color: $blueBgColor;
    }
  }

  .googleContainer {
    display: flex;
    margin-bottom: 70px;

    .opinion {
      margin: 0 70px 0 35px;

      .description {
        margin-bottom: 35px;

        p {
          font-weight: 500;
        }
      }

      .author {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  .collabs {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid #79c05f;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    .logosTitle {
      margin: 35px;

      span {
        color: $blueBgColor;
      }
    }

    .logos {
      margin: 0 100px 35px 100px;
      display: flex;
      justify-content: space-around;
      box-sizing: border-box;
    }
  }
}
